<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Valigie Maker 9000</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet"> 
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
        <script src="js/pdf_gen.js"></script>

        <style>
            html, body, h1, h2, h3, h4, h5, h6 {
                font-family: 'Josefin Sans', sans-serif;
            }

            .w3-modal {
                display: block; /* Override the "display:none" otherwise ng-show fails */
            }
        </style>
    </head>
    <body>
        <div class="w3-row" ng-app="ngMain" ng-controller="ngMainCtrl">
            
            <div class="w3-bar w3-yellow w3-border-bottom">
                <h2 class="w3-bar-item" style="margin:10px; padding:0px">Valigie Maker 9000</h2>
                <input type="button" class="w3-bar-item w3-button w3-border w3-pale-yellow w3-border-orange w3-hover-orange w3-padding-small" style="margin:14px 30px;" value="Help" ng-click="show_help_modal=true">
            </div>

            <!-- Left column -->
            <div class="w3-container w3-col m6 w3-rightbar">
                <h2 class="w3-center">All Lists</h2>

                <!-- Search box -->
                <div class="w3-card w3-row w3-section">
                    <div class="w3-col l6 w3-center w3-padding">
                        <label>Search by title/tags</label>
                        <input type="text" class="w3-input" ng-model="search_by_tag" ng-click="search_by_contents=''" />
                    </div>
                    <div class="w3-col l6 w3-center w3-padding">
                        <label>Search by contents</label>
                        <input type="text" class="w3-input" ng-model="search_by_contents" ng-click="search_by_tag=''" />
                    </div>
                </div>

                <!-- Lists -->
                <div class="w3-col m6 l4 w3-container w3-padding-small" ng-repeat="valigia in all_lists | custom_search:search_by_tag:search_by_contents">
                    <div class="w3-display-container w3-border">
                        <div class="w3-container w3-yellow">
                            <h5 style="margin-bottom: 0px">{{valigia.name}}</h5>
                            <small class="w3-text-gray">
                                Tags: <span ng-repeat="t in valigia.tags">{{t}} </span>
                            </small>
                        </div>
                        <ul>
                            <li ng-repeat="x in valigia.items">{{x}}</li>
                        </ul>

                        <!-- Action widget -->
                        <div class="w3-container w3-padding-small w3-right-align">
                            <input type="button" class="w3-button w3-hover-deep-orange w3-block w3-tiny w3-orange w3-padding-small" value="Add" ng-click="all_lists.splice($index, 1);my_valigie.push(valigia)">
                        </div>
                    </div> <!-- Valigia -->
                </div> <!-- Row of valigie -->
            </div> <!-- Left column -->

            <!-- Right column -->
            <div class="w3-container w3-col m6">
                <h2 class="w3-center">My Valigia</h2>

                <!-- Action box -->
                <div class="w3-card w3-cell-row w3-section">
                    <div class="w3-cell w3-center w3-padding-16">
                        <input type="button" class="w3-button w3-white w3-border w3-border-orange w3-hover-orange w3-padding-small" disabled value="Resolve duplicates">
                    </div>
                    <div class="w3-cell w3-center w3-padding-16">
                        <input type="button" class="w3-button w3-white w3-border w3-border-orange w3-hover-orange w3-padding-small" ng-click="show_create_valigia=true" value="New list">
                    </div>
                    <div class="w3-cell w3-center w3-padding-16">
                        <input type="button" class="w3-button w3-white w3-border w3-border-orange w3-hover-orange w3-padding-small" ng-click="show_import_dataset=true" value="Import data">
                    </div>
                    <div class="w3-cell w3-center w3-padding-16">
                        <input type="button" class="w3-button w3-white w3-border w3-border-orange w3-hover-orange w3-padding-small" ng-click="exportValigie2JSON()" value="Export data">
                    </div>
                    <div class="w3-cell w3-center w3-padding-16">
                        <input type="button" class="w3-button w3-orange w3-border w3-border-orange w3-hover-white w3-padding-small" ng-click="export_valigie_to_PDF(my_valigie)" value="Generate">
                    </div>
                </div>

                <div class="w3-row">
                    <!-- One editable list -->
                    <div class="w3-col m6 l4 w3-container w3-padding-small" ng-repeat="valigia in my_valigie">
                        <div class="w3-display-container w3-border">
                            <div class="w3-container w3-yellow">
                                <h5 class="w3-left">{{valigia.name}}</h5>
                                <a ng-hide="edit_list_$index" style="margin-top:10px" class="w3-right w3-display-hover w3-text-deep-orange" href="#" ng-click="edit_list_$index = !edit_list_$index">Edit</a>
                                <a ng-show="edit_list_$index" style="margin-top:10px" class="w3-right w3-text-deep-orange" href="#" ng-click="edit_list_$index = !edit_list_$index">Accept</a>
                            </div>
                            <ul>
                                <li ng-repeat="x in valigia.items">
                                    {{x}}
                                    <small ng-show="edit_list_$index"> <br />[
                                        <a class="w3-text-deep-orange" href="#" ng-click="editValigiaitem(valigia, $index)">edit</a> |
                                        <a class="w3-text-deep-orange" href="#" ng-click="valigia.items.splice($index, 1)">remove</a> ]
                                    </small>
                                </li>
                            </ul>

                            <!-- Editing widget -->
                            <div ng-show="edit_list_$index" class="w3-pale-yellow w3-cell-row w3-padding-small">
                                <form name="form_edit_list_$index">
                                    <div class="w3-cell w3-padding-small">
                                        <input type="text" class="w3-input w3-pale-yellow w3-padding-small" ng-model="new_for_valigia_$index" required>
                                    </div>
                                    <div class="w3-cell w3-padding-small">
                                        <input type="button" ng-disabled="form_edit_list_$index.$invalid" class="w3-button w3-hover-deep-orange w3-block w3-tiny w3-orange w3-padding-small" value="Add" ng-click="valigia.items.push(new_for_valigia_$index);new_for_valigia_$index=''">
                                    </div>
                                </form>
                            </div>
                            <!-- Action widget -->
                            <div ng-hide="edit_list_$index" class="w3-container w3-padding-small w3-right-align">
                                <input type="button" class="w3-button w3-hover-deep-orange w3-block w3-tiny w3-orange w3-padding-small" value="Remove" ng-click="my_valigie.splice($index, 1);all_lists.push(valigia)">
                            </div>
                        </div>
                    </div> <!-- Valigia -->
                </div> <!-- Row of valigie -->
            </div> <!-- Right Column -->

            <!-- Modal for creating a new valigia -->
            <!-- I set display:block to override w3-modal that sets it to none and makes ng-show fail. -->
            <div ng-show="show_create_valigia" class="w3-modal w3-card-4">
                <div class="w3-modal-content w3-animate-top">
                    <form name="form_new_valigia">
                        <header class="w3-container w3-yellow">
                            <span ng-click="show_create_valigia=false" class="w3-button w3-display-topright">&times;</span>
                            <h5>Create new list</h5>
                        </header>

                        <div class="w3-container w3-padding">
                            <h5>
                                <label for="new_valigia_title">Title:</label>
                                <input type="text" name="new_valigia_title" class="w3-input" ng-model="new_valigia_temp.name" required>
                            </h5>
                            <br>
                            <div>
                                <label for="new_valigia_title">Tags (separated by comma):</label>
                                <input type="text" name="new_valigia_tags" class="w3-input" ng-model="temp_tags">
                            </div>
                            <br>
                            <p>Items:</p>
                            <ul>
                                <li ng-repeat="item in new_valigia_temp.items">{{item}}</li>
                                <div class="w3-pale-yellow w3-cell-row w3-padding-small">
                                    <div class="w3-cell w3-padding-small">
                                        <input type="text" class="w3-input w3-pale-yellow w3-padding-small" ng-model="new_valigia_new_item">
                                    </div>
                                    <div class="w3-cell w3-padding-small">
                                        <input type="button" class="w3-button w3-hover-deep-orange w3-block w3-tiny w3-orange w3-padding-small" value="Add" ng-click="(new_valigia_new_item && new_valigia_temp.items.push(new_valigia_new_item));new_valigia_new_item=''">
                                    </div>
                                </div>
                            </ul>
                        </div>

                        <footer class="w3-container w3-yellow">
                            <div class="w3-container w3-padding-small w3-right-align">
                                <input type="button" class="w3-button w3-hover-deep-orange w3-orange" value="Cancel" ng-click="show_create_valigia=false;temp_tags='';resetNewValigia()">
                                <input type="button" ng-disabled="form_new_valigia.$dirty && form_new_valigia.$invalid" class="w3-button w3-hover-deep-orange w3-orange" value="Accept" ng-click="new_valigia_temp.tags=temp_tags.split(',');my_valigie.push(new_valigia_temp);resetNewValigia();show_create_valigia=false;">
                            </div>
                        </footer>
                    </form>
                </div>
            </div>

            <!-- Modal for importing a dataset -->
            <!-- I set display:block to override w3-modal that sets it to none and makes ng-show fail. -->
            <div ng-show="show_import_dataset" class="w3-modal w3-card-4">
                <div class="w3-modal-content w3-animate-top">
                    <form name="form_import_dataset">
                        <header class="w3-container w3-yellow">
                            <span ng-click="show_import_dataset=false" class="w3-button w3-display-topright">&times;</span>
                            <h5>Import dataset</h5>
                        </header>

                        <div class="w3-container w3-padding">
                            <p>If you have a previously exported <code>.json</code> dataset, please open it in an editor and paste its contents here:</p>
                            <textarea ng-model="JSON_import_input" style="width:100%; height:200px; resize:none; font-family:monospace; font-size:6pt"></textarea>
                        </div>

                        <footer class="w3-container">
                            <div class="w3-container w3-padding-small w3-right-align">
                                <input type="button" class="w3-button w3-border w3-border-orange w3-hover-deep-orange w3-white" value="Cancel" ng-click="show_import_dataset=false">
                                <input type="button" ng-disabled="form_import_dataset$dirty && form_import_dataset.$invalid" class="w3-button w3-hover-deep-orange w3-orange" value="Load" ng-click="loadUserDataset()">
                            </div>
                        </footer>
                    </form>
                </div>
            </div>
            <!-- Help dialog -->
            <div ng-show="show_help_modal" class="w3-modal w3-card-4">
                <div class="w3-modal-content w3-animate-top w3-margin-bottom">
                    <header class="w3-container w3-yellow">
                        <span ng-click="show_help_modal=false" class="w3-button w3-display-topright">&times;</span>
                        <h2>Help</h2>
                    </header>

                    <div class="w3-container w3-padding">
                        <h3>What's <b>Valigie-Maker-9000?</b></h3>
                        <p>
                            Valigie Maker 9000 is a tool to help you create lists of items to pack in your valigia. <br />
                            Basically the only thing you need to know is that <b>valigia</b> translates to <b>suitcase</b>. <br />
                            Search and grab contextual sub-lists from the <b>left</b> column and add them to your valigia on the right. <br />
                            Then, generate a nice report with all you need to pack with checkboxes and everything.
                        </p>

                        <h3>The <b>left</b> column / All valigie</h3>
                        <p>
                            The left column contains all the available dataset, which is composed by small contextual lists (seaside, camping, ...) which together will form a bigger list (your whole valigia). <br />
                            Use the two search fields above to look for specific items or tags you have in mind, and then click the "Add" button to add the list to your valigia on the right. <br />

                        </p>

                        <h3>The <b>right</b> column / <b>Your</b> valigie</h3>
                        <p>
                            In this column you have even more freedom to personalize your valigia. Each list, when hovered, will show an "edit" button on the top, that will allow you to add, modify, and remove single items. At the end, click "Accept". <br />
                            If you change your mind and don't need a list anymore, click "Remove" on the bottom. <br />
                            The top toolbar offers five important functions:
                            <ul>
                                <li>
                                    <b>Resolve duplicates</b> will remove all the duplicates from your valigia. <br />
                                    <i>Example: if you have two lists with the same item, it will be removed from one of them.</i>
                                </li>
                                <li>
                                    <b>New list</b> will allow you to create a new list from scratch. <br />
                                    <i>Example: you usually pack some category of things not considered here</i>
                                </li>
                                <li>
                                    <b>Import data</b> will allow you to import data from a previous export. <br />
                                    <i>Example: you have a list of items you usually pack and you want to import it here</i>
                                </li>
                                <li>
                                    <b>Export data</b> will allow you to export your valigie to a file to be reused later with the <b>Import</b> function. <br />
                                    <i>Example: You have edited and created several personal lists and you don't want to rewrite them each time</i>
                                </li>
                                <li>
                                    <b>Generate</b> will create a nice PDF report with your whole valigia, with two checkboxes per item: (A)ndata e (R)itorno. <br />
                                </li>
                            </ul>
                        </p>
                    </div>

                    <footer class="w3-container w3-padding w3-center">
                        <input type="button" class="w3-button w3-hover-orange w3-border w3-border-orange" value="Close" ng-click="show_help_modal=false">
                    </footer>
                </div>
            </div>

        </div>
    </div>

        <script>
            var app = angular.module('ngMain', []);

            app.filter('custom_search', function() {
                /* Restyle and refactor a bit che la xe bruta come la fame */
                
                return function(valigie, search_by_tag, search_by_contents) {
                    if (!search_by_tag && !search_by_contents) return valigie;

                    result = [];

                    for (var i = 0; i < valigie.length; i++) {
                        valigia = valigie[i];

                        if (search_by_contents) {
                            search_by_contents = search_by_contents.toLowerCase();
                           
                            for (var j = 0; j < valigia.items.length; j++) {
                                item = valigia.items[j].toLowerCase();
                                if (item.includes(search_by_contents)) {
                                    result.push(valigia);
                                }
                            }
                        } else if (search_by_tag) {
                            search_by_tag = search_by_tag.toLowerCase();

                            if (valigia.name.toLowerCase().includes(search_by_tag)) {
                                result.push(valigia);
                            } else {
                                for (var j = 0; j < valigia.tags.length; j++) {
                                    tag = valigia.tags[j].toLowerCase();
                                    if (tag.includes(search_by_tag)) {
                                        result.push(valigia);
                                    }
                                }
                            }
                        }
                    }

                    return result;
                }
            });

            app.controller('ngMainCtrl', function($scope, $http) {
                /* Fetch default lists */
                $http.get("default-valigie.json").then(function(response) {
                    $scope.all_lists = response.data;
                }, function(response) {
                    alert("Error: can't fetch the default list of valigie.");
                });

                /* Prompt the user to edit an item */
                $scope.editValigiaitem = function(valigia, index) {
                    new_item = prompt("Edit item", valigia.items[index]).trim();
                    if (new_item != '') valigia.items[index] = new_item;
                }

                /* Reset the new-valigia_temp object */
                $scope.resetNewValigia = function() {
                    $scope.new_valigia_temp = {name: '', tags: [], items: []};
                }

                /* Export the dataset as a JSON file */
                $scope.exportValigie2JSON = function() {
                    var export_data = {'all': $scope.all_lists, 'my': $scope.my_valigie};

                    var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(export_data));
                    var dlAnchorElem = document.createElement('a');
                    dlAnchorElem.setAttribute("href",dataStr);
                    dlAnchorElem.setAttribute("download", "my-valigie-dataset.json");
                    dlAnchorElem.click();
                }

                /* Load the user's JSON dataset from the modal */
                $scope.loadUserDataset = function() {
                    var input = $scope.JSON_import_input;
                    var data = null;

                    try {
                        data = JSON.parse(input);
                    } catch (e) {
                        alert("Error: the dataset you provided is not valid JSON.");
                        return;
                    }

                    if (!data || !data.all || !data.my) {
                        alert("Error: the dataset you provided doeasn't contain the required fields.");
                        return;
                    }

                    $scope.all_lists = data.all;
                    $scope.my_valigie = data.my;
                    alert("Dataset loaded successfully!");
                    $scope.show_import_dataset = false;
                }
                
                $scope.export_valigie_to_PDF = export_valigie_to_PDF;
        
                /* Init */
                $scope.show_create_valigia = false;
                $scope.show_import_dataset = false;
                $scope.show_help_modal = false;
                $scope.my_valigie = [];
                $scope.all_lists = [];
                $scope.resetNewValigia();
            });
        </script>
    </body>
</html> 